* {margin: o; padding: o; font-family: 'Noto Sans', sans-serif;}




header{
width: 100%;
height: 100vh;
background-image: linear-gradient(to left, #fff 85%, #c3f5ff 20%);

}

.navsection{
	width: 100%; height: 20vh;
	display: flex; justify-content: space-around;
	align-items: center;
    background-image: linear-gradient(to top, #fff 85%, #c3f5ff 20% );

}

.logo{
	width: 40%;
	height: 40%;
	color: #fff;
	background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: 100px;
    box-sizing: border-box;
 }

.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: animate 2s linear infinite;
    animation-direction: alternate;

}

@keyframes animate {
	from {
		padding-left: 40px;

	}
	to {
		padding-right: 40px;
	}
}

nav{
	width: 60%;
	display: flex;
	justify-content: space-around;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 200;
	font-size: 17px;
	position: relative;
}


nav a:first-child{
	color: #4458dc;
}
nav a:last-child{
	color: red;
}

nav a:before{
	content: "";
	position: absolute;
	top: 110%;
	left: 0;
	width: 0%;
	height: 2px;
	border-bottom: 2px solid #4458dc;
	transition: all 0.4s linear;
}

nav a:hover:before{
        width: 100%;
}

main{
	height: 80vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.rightside{
	border-radius: 76% 24% 70% 30% / 43% 72% 28% 57%   ;
	background-color: #e8fbff;

}

.rightside img{
	max-width: 400px;
	height: auto;
}

.leftside{
	color: #000;
	text-transform: uppercase;

}

.leftside h3{
	font-size: 40px;
	margin-bottom: 20px;
	position: relative;

}

.leftside h3:after{
	content: "";
	width: 450px;
	height: 3px;
	position: absolute;
	top: 43%;
	left: 21.5%;
	background-color: #000;
}

.leftside h1{
	margin-top: 20px;
	font-size: 70px;
	margin-bottom: 25px;

}

.leftside h2{
	margin-bottom: 35px;
	font-weight: 100;
	word-spacing: 4px;

}

.leftside .btn1{
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	padding: 12px 25px;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
	display: inline-block;
	margin-right: 50px;
	color: #fff;
	letter-spacing: 0;
	background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),radial-gradient(circle at top left,#4458dc,#854fee);
	border: double 2px transparent;
	box-shadow: 0 10px 30px rgba(118,85,225,.3);
}


.leftside .btn2{
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	padding: 12px 25px;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
	display: inline-block;
	margin-right: 50px;
	border: 2px solid #4458dc;
	color: #222;
	letter-spacing: 0;
	background-color: #fff;
	box-shadow: 0 10px 30px rgba(118,85,2
}

 .leftside .btn1:hover{
    border: 2px solid #4458dc;
	color: #222;
	background-color: #fff;
	box-shadow:none;



}